@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --title-color: rgb(59, 9, 54);
    --info-color: #ff0000;
    --section-color: #04565c;
    --highlight-color: #e6a10c;
}
*{
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    margin: 0;    
}
h1{
    font-size: 1.2em;
}
nav h3{
    font-size: .9em;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}
nav{
    min-height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
font-size: 1em;
text-align: center;
width: 85%;
margin: 0 auto 20px auto;
color: var(--info-color);
display: block;
border-bottom: 1px solid var(--section-color);
padding-bottom:  20px;
}
.fetch-info{
    color: var(--info-color);
    margin: 30px 0;
    text-align: center;
}
.input, .selection{
    text-align: center;
    padding: 5px;
}

.save-button, .search-button{
background-color: var(--section-color);
color: white;
border: none;
border-radius: 100svh;
height: 25px;
}
.selection{
    margin-top: 20px;
}
input{
    margin-right: 30px;
}
.search-button{
    margin-top: 20px;
    width: 100px;
}
.save-button:hover, .search-button:hover{
    color: var(--section-color);
    background-color:rgb(245, 245, 245);;
    cursor: pointer;
    border-bottom: 1px solid var(--section-color);
}
.prev-button, .next-button{
    background-color: var(--section-color);
    color: white;
    border: none;
    height: 30px;
    min-width: 30px;
    margin: 5px;
}
.prev-button:hover,.next-button:hover{
    cursor: pointer;
    color: var(--section-color);
    background-color: white;
    border: 1px solid var(--section-color);
}
.prev-button.inactive,.next-button.inactive{
    background-color: rgb(236, 235, 235);
    border: none;
    color: var(--highlight-color);
    cursor: unset;
}
.pagination{
    text-align: center;
}
.page-number{
    border: none;
    background-color: white;
    color: var(--section-color);
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-color);
    color: white;
}
a{
    text-decoration: none;
    color: var(--highlight-color);
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.title{
    text-align:center;
    color: var(--highlight-color);
}
.results{
    text-align: center;
    line-height: 1.3em;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(182, 182, 182);
    border-top: 1px solid rgb(182, 182, 182);

}
.results p{
word-wrap: break-word;

}

.results div{
    margin: 10px auto;
}



@media screen and (min-width: 1000px) {
    body{
        width: 1000px;
        margin: 0 auto;
    }
    .input,.selection{
        width: 700px;
        margin: 0 auto;
    }
    input{
        width: 500px;
    }
    select{
        width: 300px;
        margin-top: 30px;
    }
    .results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: left;

    }
    .results img{
    text-align: center;
    }
    .buildstorage{
        text-align: left;
        min-width: 300px;
    }
    .buildstorage p{
        display: inline;
        margin-left: 10px;
    }
}